<header class="header header_fixed">
  <div class="header-container">
    <div class="header-img">
      <a href="#" class="header__link">
        <img src="../../assets/i/logo-3.png" />
      </a>
    </div>
    <app-navigation></app-navigation>
    <div class="header-links">
      <a href="#" class="header__link">
        <span class="material-symbols-outlined header__icon"> person </span>
        Login
      </a>
      <a href="#" class="header__login-btn header__login-btn_invis">
        Get Started
      </a>
      <div class="header__burger" onClick="{burgerClick}">
        <span class="header__span"></span>
      </div>
      <app-burger></app-burger>
    </div>
  </div>
</header>
