<div class="part5">
  <div class="container4">
    <div class="container4__inner">
      <h3 class="container4__h3">{{ advItem.title }}</h3>
      <p class="container4__p">
        He nicked it tickety boo harry the cras bargy chap mush spiffing spend a
        penny the full monty burke butty.
      </p>
    </div>

    <div class="advantage">
      <div class="advantage-item" *ngFor="let item of advItem.subtitles">
        <div class="advantage-item__container">
          <div class="advantage-item__icon-subcontainer">
            <div class="{{ item.class }}">
              <span class="material-symbols-outlined advantage__icon">{{
                item.icon
              }}</span>
            </div>
          </div>
          <h4 class="advantage-item__title">{{ item.subtitle }}</h4>
          <p class="advantage-item__p">
            Mucker plastered bugger all mate morish are.
          </p>
        </div>
      </div>

      <div class="link-container link-container_zero">
        <a class="container4__link">
          Learn More
          <span class="material-symbols-outlined icon__arrow">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
