<div class="posts">
  <div class="post-item">
    <img class="post-item__img" [src]="comment.img" />
    <div class="post-item__container">
      <div class="post-item__link-container">
        <a href="#" class="post-item__link">
          {{ comment.title }}
        </a>
      </div>
      <div class="time">
        <ul class="time-list">
          <li class="time-list__item">
            <span class="material-symbols-outlined icon__comment"
              >Schedule</span
            >
            July 14, 2022
          </li>
          <li class="time-list__item">
            <span class="material-symbols-outlined icon__comment">forum</span>
            July 14, 2022
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
