<div class="item-one">
  <div
    [ngClass]="{
      'item-one__icon-box': true,
      'item-one__icon-box_blue': i === 1,
      'item-one__icon-box_red': i === 2,
      'item-one__icon-box_purple': i === 3
    }"
  >
    <span class="material-symbols-outlined icon__what-do">
      {{
        i === 0 ? "cycle" : i === 1 ? "mood" : i === 2 ? "lock" : "headphones"
      }}
    </span>
  </div>
  <h4 class="item-one__h4">{{ text }}</h4>
  <p class="item-one__p">Mucker plastered bugger all mate morish are.</p>
  <a href="#" class="item-one__link">
    Read More<span class="material-symbols-outlined icon__arrow">
      arrow_right_alt
    </span>
  </a>
</div>
