<div class="container">
  <div class="container-inner">
    <div class="part1">
      <h1 class="part1__title">Creative way to Showcase your app</h1>
      <p class="part1__p">
        Jolly good excuse my french boot super my good sir cup of
      </p>
      <p class="part1__p">char richard about chinwag.</p>
      <div class="part1__link-container">
        <a href="#" class="part1__link part1__link_mr"> Get a Quote </a>
        <a href="#" class="part1__btn">
          <span class="icon__border">
            <span class="material-symbols-outlined icon__play">
              play_arrow
            </span>
          </span>
          Play Video
        </a>
      </div>
    </div>
  </div>
</div>
